<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626684766436-ir0t78q2p3ffl6cani1vbe5eo2a3pdrt.apps.googleusercontent.com</string
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626684766436-ir0t78q2p3ffl6cani1vbe5eo2a3pdrt</string>
	<key>API_KEY</key>
	<string>AIzaSyBecgkKIvvFHPOcKGuFHTVLFtGHuN6nVtk</string>
	<key>GCM_SENDER_ID</key>
	<string>626684766436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vexillatech.therapist</string>
	<key>PROJECT_ID</key>
	<string>therapist-app-814ae</string>
	<key>STORAGE_BUCKET</key>
	<string>therapist-app-814ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626684766436:ios:fb71bc732bbfb96577e4f1</string>
</dict>
</plist>